body {
  background-image: image-url('background.jpg');
}
#header {
  width: 100%;
  height: 100px;
  margin-top: 40px;
}
#headerboxb {
  width:342px;
  text-align:center;
  float: left;
}
#headerboxa {
  padding-left: 30px;
  width: 141px;
  float: left;
  font: 1.3em Georgia;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}
h1 {
  color: white;
  font-family: Georgia;
  font-size: 2.5em;
}

table.beers-table
{
  color: white;
  width: 100%;

  thead {
    border-bottom: 1px white dashed;
  }

  tr.dark {
    background-color: rgba(0, 0, 0, .3);
  }

  tr.light {
    background-color: rgba(255,255,255, .2);
  }

  th, td {
    border-right: 1px dashed white;
    padding: 20px;
  }
}
.content-row {
  font: 1.5em arial, verdana, sans-serif;
  width: 1012px;
  height: 180px;
}

.beer-style {
  h1 {
    font-size: 2.0em;
  }
}


#footer {
  margin: 50px 20px;
  color: white;
}