$content-width: 960px;

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header {
  width: $content-width;
  height: 100px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  h1 {
    small {
      color: white;
      font-size: 24px;
      font-family: Georgia;
    }
  }
}
h1 {
  color: white;
  font-family: Georgia;
  font-size: 2.5em;
}

table.beers-table
{
  color: white;
  width: $content-width;
  margin-left: auto;
  margin-right: auto;

  thead {
    tr {
      // border-bottom: 1px white dashed;
      // border: 1px solid pink;
    }
  }

  tr.dark {
    background-color: rgba(0, 0, 0, .3);
  }

  tr.light {
    background-color: rgba(255,255,255, .2);
  }

  th, td {
    // border-right: 1px dashed white;
    padding: 20px;
  }
}
.content-row {
  font: 1.5em arial, verdana, sans-serif;
  width: 1012px;
  height: 180px;
}

.beer-style {
  h1 {
    font-size: 2.0em;
  }
}


#footer {
  margin: 50px 20px;
  color: white;
}